<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<ul class="people">
  <% @people.each do |person| %>
      <li>
        <%= image_tag person.photo.url(:thumb) %>
        <%= link_to person.name, person %>
        <%= person.email %>
        <%= link_to 'Edit', edit_person_path(person) %>
        <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
  <% end %>
</ul>

<%= link_to 'New Person', new_person_path %>
